@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  // Primary
  --c-p-dc: hsl(30, 38%, 92%);
  --c-p-c: hsl(158, 36%, 37%);

  // Neutral
  --c-n-vdb: hsl(212, 21%, 14%);
  --c-n-dgb: hsl(228, 12%, 48%);
  --c-n-w: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 14px;
  background-color: var(--c-p-dc);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    width: 327px;
    margin: auto 1.5rem;
    background: var(--c-n-w);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    @media (min-width: 760px) {
      flex-direction: row;
      align-items: center;
      width: 600px;
    }
    .box-1 {
      width: 100%;
      @media (min-width: 760px) {
        width: 50%;
        margin-top: -16px;
        margin-bottom: -5px;
      }
      #imgM {
        width: 100%;
        height: auto;
        @media (min-width: 760px) {
          width: 0;
        }
      }
      #imgD {
        width: 0;
        @media (min-width: 760px) {
          width: 100%;
          height: auto;
        }
      }
    }
    .box-2 {
      width: 100%;
      padding: 2em;
      @media (min-width: 760px) {
        width: 50%;
        padding: 1.8em;
      }
      h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: var(--c-n-dgb);
        letter-spacing: 4px;
        margin-bottom: 10px;
        @media (min-width: 760px) {
          margin-bottom: 20px;
        }
      }
      h1 {
        font-family: "Fraunces", serif;
        line-height: 1.7rem;
        margin-bottom: 15px;
        font-weight: 700;
        @media (min-width: 760px) {
          margin-bottom: 20px;
          font-size: 2.1rem;
          line-height: 2rem;
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        color: var(--c-n-dgb);
        line-height: 1.3rem;
        margin-bottom: 20px;
        @media (min-width: 760px) {
          margin-bottom: 30px;
          font-size: 14px;
        }
      }
      .price {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        @media (min-width: 760px) {
          margin-bottom: 30px;
        }
        h1 {
          color: var(--c-p-c);
          margin-bottom: 0;
        }
        span {
          font-family: "Montserrat", sans-serif;
          color: var(--c-n-dgb);
          font-weight: 400;
          margin-left: 20px;
          font-size: 13px;
        }
      }
      a {
        display: block;
        background: var(--c-p-c);
        text-decoration: none;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--c-n-w);
        transition: 0.2s;
        span {
          font-family: "Montserrat", sans-serif;
          margin-left: 10px;
          font-weight: 500;
        }
        &:hover {
          background: hsl(157, 36%, 27%);
        }
      }
    }
  }
}

.attribution {
  position: absolute;
  text-align: center;
  z-index: -100;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  width: 90%;
  font-size: 12px;
  a {
    text-decoration: none;
    color: var(--c-p-c);
  }
}
